<!DOCTYPE html>
<html lang="ja" ng-app="Gcpug">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>GCPUG | Google Cloud Platform ユーザーグループ</title>
  <meta name="title" content="Google Cloud Platform ユーザーグループ" />
  <meta name="keywords" content="Google Cloud Platform,GCP,ユーザーグループ" />
  <meta name="description" content="GCPUG(ジーシーパグ)はGoogle Cloud Platformを普及させることを目的とし、Googleと共にGCPをより良くし、盛り上げていくユーザーグループです。" />
  <meta property="og:title" content="Google Cloud Platform ユーザーグループ" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="GCPUG(ジーシーパグ)はGoogle Cloud Platformを普及させることを目的とし、Googleと共にGCPをより良くし、盛り上げていくユーザーグループです。" />
  <meta property="og:image" content="./images/share.png" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="images/fav.ico">

  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="blue-grey lighten-5">

<header>
  <nav class="orange" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="/" class="brand-logo">GCPUG</a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo center">
      <a href="/" class="brand-logo"><img src="./images/logo_box.png" alt="GCPUG"></a>
    </li>
    <li><a href="/" class="active">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/event" class="active">EVENT</a></li>
    <li><a href="/join">JOIN</a></li>
    <li><a href="/report">REPORT</a></li>
  </ul>
</header>

<main>

  <div class="row">
    <div class="container">
      <div class="section">


        <div class="row">

          <div class="col s12">
            <div class="card-panel" ng-controller="EventController as eventList">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
                <h5 class="center">イベント一覧</h5>
                <div class="section" id="event-list">
                  <div class="card ng-cloak" ng-cloak ng-repeat="event in eventList.items">
                    <div ng-class="['card-content', 'valign-wrapper', event.status]">
                      <div class="col s12">
                        <h5 class="left-align">
                          <a href='{{ event.url }}' class="light-blue-text text-darken-1" target="_blank">{{ event.title }}<i class="tiny mdi-action-launch"></i></a>
                        </h5>
                        <p><span class="black-text">{{ event.description }}</span></p>
                        <label>{{ event.startAt | formatDatetime }}</label>
                      </div>
                    </div>
                  </div>
                  <div><a class="waves-effect waves-light btn" ng-click="eventList.getEvents(100)">Read More</a></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text"><i class="mdi-device-dvr"></i> About GCPUG</h5>
        <p class="grey-text text-lighten-4">GCPUG(ジーシーパグ)はGoogle Cloud Platformを普及させることを目的とし、Googleと共にGCPをより良くし、盛り上げていくユーザーグループです。私たちに共感していただける方なら、GCPUGへの参加は自由です。一緒に GCP を盛り上げていきましょう。</p>
      </div>


    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        Copyright(C)2015 GCPUG All Rights Reserved. <label class="orange-text text-lighten-3">Powered By Google App Engine for Go.</label>
        <span class="right">Made by <a class="orange-text text-lighten-3" target="_blank" href="http://materializecss.com">Materialize</a></span>
      </div>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="js/lib/materialize.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
